/* CSS Document */
body {
    font:12px arial;
    color: #222;
    text-align:center;
    padding:35px; }
header {
    background-color: #87CEEB;
    color: #F0F0F0;
    background-image: url("includes/Games-Banner-1140x400-1024x359.png");
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    color: #fff;
    margin: 0;
    text-align: center;
    line-height: 250%;
    font-size: 3em;
    padding: 0.5em;
    text-shadow: 2px 2px 2px #ccc;
}

.main {
    background-color: #ccc;
    background-image: url("includes/red-smoke-in-studio_23-2147685575.jpg");
}

.navigation {
    float: left;
    width: 180px;
}

.navigation nav ul {
    list-style: none;
}

.navigation nav ul a {
    font-weight: bold;
    text-decoration: none;
	color:#FFD700;
}

.navigation nav ul a:link {
    color: #FFD700;
}
.navigation nav ul a:visted {
    color: white;
}

.navigation nav ul a:hover {
    color: #FFFF00;
}

img {
    border-style: none;
}
  
form, p, span {
    margin:0;
    padding:0; }
  
input { font:12px arial; }
  
a {
    color:#0000FF;
    text-decoration:none; }
  
    a:hover { text-decoration:underline; }
  
#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:504px;
    border:1px solid #ACD8F0; }
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto; }
  
#usermsg {
    width:395px;
    border:1px solid #ACD8F0; }
  
#submit { width: 60px; }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }